<table align="center" border="0" width="900" cellspacing="0" cellpadding="3">
<tr><td>
  
<h1 align="center">Listing to-do items</h1>
  <center><%= link_to 'Create To-Do Item', new_todo_path %></center>
  
<table cellspacing="5" cellpadding="5" border="0">
  <thead>
    <tr>
      <th align="left">Title</th>
      <th align="left">Notes</th>
      <th align="left">Due</th>
      <th align="left">Done</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td valign="top" width="150"><%= todo.title %></td>
        <td valign="top"><%= todo.notes %></td>
        <td valign="top" width="100"><%= todo.due %></td>
        <td valign="top"><%= todo.done %></td>
        <td valign="top"><%= link_to 'View', todo %></td>
        <td valign="top"><%= link_to 'Edit', edit_todo_path(todo) %></td>
        <td valign="top"><%= link_to 'Delete', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  </td></tr>
</table>