<table align="center" border="0" width="500" cellspacing="0" cellpadding="3">
<tr><td>
  
  <h1 align="center"><%= @todo.title %></h1>
  <center><%= link_to 'Edit', edit_todo_path(@todo) %> |
    <%= link_to 'Back', todos_path %></center>
  
<p id="notice"><%= notice %></p>

<p>
  <strong>Notes:</strong>
  <%= @todo.notes %>
</p>

<p>
  <strong>Due:</strong>
  <%= @todo.due %>
</p>

<p>
  <strong>Done:</strong>
  <%= @todo.done %>
</p>

  </td></tr>
</table>