<h1>Hello</h1>

<p>Find me in app/views/pages/home.html.erb</p>

<p>Today is <%= @Home.now %>.</p>

<p>We are this many days into the week: <%= @Home.now.wday %>. Only <%= 7 - @Home.now.wday %> to go!</p>

<hr>

<p>My name is <b><%= @Home.name %></b> and my birthdate is <b><%= @Home.birthdate %></b>.</p>

<% if @Home.now.to_date == @Home.birthdate_this_year.to_date %>
<p><b><font color="#FF0000">Happy Birthday!</font></b></p>
<% end %>

<p>I am <b><%= @Home.age %> years old</b> and there are <b><%= @Home.days_until_bday %> days until my next birthday</b>.</p>


