<h1>Hello</h1>

<p>Find me in app/views/pages/home.html.erb</p>

<p><b>Yo!</b></p>

<p>Today is <%= Date.today %>.</p>

<p>We are this many days into the week: <%= Date.today.wday %>. Only <%= 7 - Date.today.wday %> to go!</p>

<p>My name is <b><%= @Home.name %></b> and my birthdate is <b><%= @Home.birthdate %></b>.</p>
